* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  min-width: 1024px;
  height: 100%;
}

.header {
  height: 6rem;
}

.header__skeleton {
  height: 100%;
  background: lightgrey;
  background-repeat: no-repeat;
  background-image: linear-gradient(100deg, lightgrey, rgba(255, 255, 255, 0.5) 50%, lightgrey 80%); 
  background-size: 50% 100%;
  background-position: 0 0;
  animation: shine 1s infinite;
}

.main {
  margin: auto;
  width: 50vw;
  height: 80vh;
  background-repeat: repeat-y;
  background-image:
    linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
    linear-gradient( lightgray 20px, transparent 0 ),
    linear-gradient( lightgray 20px, transparent 0 ),
    linear-gradient( lightgray 20px, transparent 0 );
  background-size:
    50px 200px,
    350px 200px,
    300px 200px,
    250px 200px;
  background-position:
    0 0,
    120px 40px,
    120px 80px,
    120px 120px;
  animation: shine 1s infinite;
}

@keyframes spinner-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes shine {
		to {
			background-position:
				100% 0,
				120px 40px,
				120px 80px,
				120px 120px;
		}
	}